.home {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;

  &_cube {
    width: 300px;
    height: 300px;
  }
  //   &_projects {
  //   }
  img {
    width: 300px !important;
    height: 300px !important;
    object-fit: cover !important;
  }
  //   img:active {
  //     position: absolute !important;
  //     width: 280px !important;
  //     height: 280px !important;
  //     object-fit: cover;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //   }
}
